.card {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid rgb(210, 70, 30);
    border-radius: 2px;
    width: 100%;
    text-align: center;
    padding: 0 10px 10px 10px;
    margin: 0 auto 15px auto;
}

.ava {
    width: 50%;
    border-radius: 100%;
}

#author {
    grid-area: author;
    display: none;
    max-width: 300px; 
}

.card .title {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Verdana", "san-serif";
    font-size: 18px;
    color: rgb(210, 70, 30);
}

.card h1,
h4 {
    color: #333333;
}

.card p {
    color: #666666;
}

#social img {
    width: 48px;
    margin: 0 5px;
}

.card input {
    border: 1px solid silver;
    height: 30px;
    border-radius: 3px;
    margin: 5px;
    box-shadow: none;
    padding: 5px;
    text-align: center;
}

#subscribe input {
    width: 100%;
}

.card input[type="submit"] {
    border: 2px solid rgba(210, 70, 30);
    background-color: rgba(210, 70, 30);
    color: white;
    transition: 0.3s;
}

.card input[type="submit"]:hover {
    background-color: rgba(210, 70, 30, 0.8);
    color: white;
    cursor: pointer;
}

#search img {
    border: 1px solid rgba(210, 70, 30);
    margin-bottom: -10px;
    border-radius: 3px;
    height: 30px;
    padding: 5px;
    background-color: rgba(210, 70, 30);
}

#search input {
    width: 75%;
}


.tags-cloud {
    list-style-type: none;
    padding: 0;
}

.tags-cloud li {
    margin: 7px 2px;
    display: inline-block;
}

.tags-cloud a {
    position: relative;
    color: #666666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font: bold 11px Tahoma, sans-serif;
    border-radius: 3px;
    border: 1px solid silver;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2),
        0 1px 0px rgba(255, 255, 255, 0.4) inset;
}

.tags-cloud a:hover {
    color: rgb(210, 70, 30);
}

.last_comments {
    width: 100%;
    height: 70px;
}

.last_comments img {
    width: 100%;
    border-radius: 3px;

}

.last_comments div {
    float: left;
    width: 70px;
    overflow: hidden;
    margin-right: 10px;
    height: 70px;
}

.last_comments h4,
p {
    text-align: left;
    margin: 10px 0 0 0;
}

.last_comments p:last-child {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
