footer {
    background-color: dimgray;
    height: 150px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

footer div {
    width: 30%;
    height: 100%;
    float: left;
    padding: 20px;
}

footer img {
    height: 100%;
}

footer p {
    font-size: 18px;
    color: white;
    text-align: center;
}

footer h4 {
    margin: 0;
    font-family: Verdana, sans-serif;
    color: white;
}

footer div:last-child {
    float: right;
}
