#menuToggle {
    display: none;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: 7px;
    left: 7px;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    z-index: 3;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 50%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.9);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
}

#menu li a{
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
    color: white;
}

#menuToggle input:checked ~ ul {
    display: block;
}
