#logo {
    grid-column: 1;
    grid-row: 1/3;
}

#logo img {
    min-height: 100px;
    max-height: 200px;
    max-width: 80%;
    min-width: 330px;
}

#header_block {
    grid-column: 2;
    grid-row: 1;
    align-self: flex-start;
    justify-self: flex-end;
    height: 50px;
}

#social_block img,
#search_button img {
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.4s;
    width: 32px;
}

#social_block {
    float: right;
}

#social_block a:first-child{
    margin-left: 30px;
}

#social_block img:hover {
    margin-bottom: 0;
}

#search_button {
    float: right;
    z-index: 2;
/*    margin-right: 30px;*/
}

#main_nav {
    width: 100%;
    grid-column: 2;
    grid-row: 2;
    align-self: flex-end;
    justify-self: flex-end;
    border-radius: 5px 0 0 5px;
    background-color: rgba(210, 70, 30);
}

#main_nav li {
    display: inline-block;
    font-family: "Verdana", "san-serif";
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    transition: 0.4s;
}

#main_nav a {
    color: white;
}

#main_nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

#main_nav li:hover {
    background-color: white;
    color: rgb(210, 70, 30);
}

#main_nav li:hover a {
    color: rgb(210, 70, 30);
}
