@media (max-width: 640px) {
    #social_block {
        display: none;
    }

    #main_nav {
        display: none;
    }

    aside div:first-child {
        display: none;
    }
    
    #author{
        display: block;
    }

    body {
        display: grid;
        grid-template:
            [row1-start] "header" auto [row1-end] 
            [row2-start] "author" auto [row2-end] 
            [row3-start] "main" auto [row3-end]
            [row4-start] "aside" auto [row4-end]
            [row5-start] "footer" auto [row5-end] 
            / auto;
    }
    
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    
    #logo{
        grid-column: 1; 
        grid-row: 2;
    }
    
    #menuToggle {
        grid-column: 1;
        grid-row: 1;
        display: block;
    }
}
