.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    height: 450px;
    max-width: 270px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid rgb(210, 70, 30);
    border-radius: 2px;
}

.post-module:hover img {
    transform: scale(1.5);
}

.post-module .thumbnail {
    background: #000000;
    height: 300px;
    overflow: hidden;
}

.post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: rgb(210, 70, 30);
    width: 55px;
    height: 55px;
    padding: 10px 0;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
}

.post-module .thumbnail .date .day {
    font-size: 18px;
}

.post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
}

.post-module .thumbnail img {
    display: block;
    width: 100%;
    transition: transform .5s ease;
}

.post-module .post-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}

.post-module .post-content .description {
    display: block;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
}

.post-module .post-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
}

.post-module .post-content .post-meta .timestamp {
    margin: 0 15px 0 0;
}

.post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
}
