* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template:
        [row1-start] "header header header" auto [row1-end] 
        [row2-start] "main main aside" auto [row2-end] 
        [row3-start] "footer footer footer" auto [row3-end] 
        / auto auto 25%;
    max-width: 1200px;
    min-width: 480px;
    height: 100%;
    margin: 20px auto 0 auto;
    grid-gap: 20px;
    padding: 0 20px;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: space-between;
    align-content: flex-start;
    grid-gap: 20px;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

a {
    text-decoration: none;
    color: grey;
    transition: color 0.4s ease;
}

a:hover {
    color: rgb(210, 70, 30);
}
